body{
	margin:0px;
	font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
div{
	box-sizing: border-box;
}
.main-content,.left-team,.right-personal,.center-introduce{
	padding:20px;
	border:1px solid #999;
}
.main-content {
	position: relative;
	background-color: #eee;

}
.left-team {
	width: 200px;
	float: left;
	background-color: #fff;
}
.right-personal {
	width: 120px;
	float: right;
	background-color: #fff;
}
.center-introduce {
	word-wrap: break-word;
	margin-left:220px;
	margin-right:140px;
	background-color: #fff;
}
.center-introduce p{
	line-height:30px;
	padding-left:10px;
}
.teamlogo {
	width: 80px;
	height: 80px;
	float: left;
}
.teamname {
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	float: left;
	padding-left:10px;
}
.team_link{
	text-decoration: none;
}
.clearfix{
	clear: both;
}
.personal-logo {
	margin: 10px 0;
	width: 80px;
	height: 80px;
	border:1px solid #999;
}
