/* three paras */

#three_paras .para{
  display: block;
  width:226px;
  height:100%;
  margin-right:28px;
}
.para p{
  font-size: 12px;
  line-height:16px;
  word-wrap: break-word;
}
.para h4{
  display: inline-block;
  text-decoration: underline;
  font-size:16px;
  font-family: "微软雅黑";
  font-weight: bold;
  margin-bottom: 10px;
}
.para1 h4{
  color: #418c59;
}
.para1 p{
  color:#767777;
  font-family:"宋体";
}
.para2 h4{
  color:#d2994f;
}
.para2 p{
  color:#231815;
  font-family:"微软雅黑";
  opacity: 0.7;
}
.para3 h4{
  color:#cc7680;
}
.para3 p{
  color:#cd4a48;
  font-family:"微软雅黑";
  opacity: 0.7;
  font-style: oblique;
}
.para3{
  position: relative;
}
.para3 .log_3{
  position: absolute;
  bottom:0;
  left:0;
  line-height: 16px;
}
.log_3 .line{
  display: inline-block;
}
.log_3 .first_1{
  font-size: 12px;
  font-family: "微软雅黑";
  opacity: 0.7;
  color: #231815;
}
.log_3 .percent{
  font-size: 12px;
  font-family: "微软雅黑";
  font-style: oblique;
  opacity: 0.7;
  color: #cd4a48;
}
